python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]
scikit-learn
mlflow
pyaml
dagshub
fastapi
uvicorn
python-multipart


## -e .


#  -e . means:
#  -e → editable / development mode
#  . → current project folder
#  Uses setup.py, install this project using setup.py, but don’t copy files
#  Changes in code reflect instantly
#  Used only during development